# .github/workflows/jira-issue-sync.yml

name: Create Jira Issue on GitHub Issue

on:
  issues:
    types: [opened]

jobs:

  create_jira_issue:
    runs-on: ubuntu-latest
    steps:
      - name: Parse a issue
        uses: stefanbuck/github-issue-praser@v3
        id: issue-parser
        with:
          template-path: .github/ISSUE_TEMPLATE/issue-form.yml

      - name: print the pared issue
        run: |
          echo '${{ steps.issue-parser.outputs }}'

      - name: Login to Jira
        uses: atlassian/gajira-login@v3
        env:
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}

      - name: Create Jira Issue
        uses: atlassian/gajira-create@v3
        with:
          project: 'NVS'
          issuetype: 'Task'
          summary: '[${{ github.event.issue.labels[0].name }}] ${{ github.event.issue.title }}'
          description: |
            ${{ github.event.issue.body }}

